/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Karla&family=M+PLUS+Rounded+1c:wght@500&family=Russo+One&display=swap');
html{
    scroll-behavior: smooth;
} 
body {
    background: #272727;
    margin:0;
    height: 2000px;
    /* font-family: "Russo One"; */
}
/* MAIN ARCHITECTURE ELEMENTS index.html */

/* ----top section---- */
#top {
    height:600px;
    width: 100%;
    background-color: aqua;
}

/* ----header---- */
header {
    /* E4A95B */
    background-color: black;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

header div {
    font-family: ;
    font-size: 40px;
    font-weight: 700;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url('images/fontback.jpeg');
    background-size: 400px;
}

header div h1 {
    margin: 0pt;
}

header div img {
    margin-top: 25px;
    height: 40px;
}

header div button {
    animation: none;
    background-color: transparent;
    border: transparent;
    opacity: 1;
}

.buttonHide {
    opacity: 1;
    animation:ani 1.5s ;
    opacity: 0;
}

.scrollFix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index : 3;
}

/* ----main---- */
main section {
    margin: 20px 30px;
}
#general img {
    display: block;
    width: 30%;
    margin: auto;
}

main #circles {
    display: block;
    width: 60%;
    margin: auto;
}
.container {
    position: relative;
    padding-bottom: 100px;
    color: white;
}
.container ul {
    position: relative;
    list-style: none;
    display: flex;
    padding: 50px 0;
    height: 380px;
}
.container ul li {
    position: relative;
    width: 250px;
    overflow: hidden;
    border-right: 1px solid white;
    height: auto;
}
.container ul li:last-child {
    border-right: none;
}
.container ul li:hover {
    overflow: visible;
}
.container ul img {
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.container li:first-child img {
    margin: 30px 0 0 10% !important;
    height: 300px !important;
}
.container li:nth-child(2) img {
    width: 360px;
    height: 360px;
    margin-top: 0;
    margin-left: -40%;
}
.container li:nth-child(3) img {
    width: 360px;
    height: 360px;
    margin: 10px 0 0  -40%;
}
.container li:last-child img {
    width: 300px !important;
    margin: 40px 0  0 -60% !important;
}
.container ul li:hover img {
    border: 4px solid white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
    z-index: 2;
}

main #circles .text {
    display: flex;
    width: 100%;
    justify-content: end;
}
main #circles .text p {
    color: white;
    display: block;
    padding: 10px;
}
main #principles {
    text-align: center;
    color: white;
}
main #principles .stuckHolder {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 35%);
    grid-template-rows: 250px; 
    text-align: center;
}
main #principles .stuckHolder div {
    margin: 20px;
    background-color: gray;
    border-radius: 20px;
}
main #principles .stuckHolder div:first-child {
    grid-row: 1/3;
    grid-column: 1/2;
}
main #principles .stuckHolder div:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
}
main #principles .stuckHolder div:nth-child(3) {
    grid-row: 1/2;
    grid-column: 3/4;
}
main #principles .stuckHolder div:last-child {
    grid-row: 2/3;
    grid-column: 2/4;
    height: 100px;
}
/* ----aside---- */
.asideShow {
    display: block; 
    transform: translateX(-150%);
    animation: aniAsideShow 1s forwards;
    position: fixed;
    top: 0;
    right: 0;
    width:35%;
    z-index: 2;
    background-color: rgba(143, 0, 255, 0.7);
}

.asideHide {
    transform: translateX(0%);
    animation: aniAsideHide 1s forwards;
}

aside {
    display: none;
}

aside div button {
    margin: 20px 15px ;
    animation: none;
    background-color: transparent;
    border: transparent;
    opacity: 1;
}

aside div img {
    height: 45px;
}

.buttonShow {
    opacity: 0;
    animation:aniBack 2s;
    opacity: 1;
}

/*  */
@keyframes ani {
    100% {opacity: 0;}
    0% {opacity: 1;}
}

@keyframes aniBack {
    100% {opacity: 1;}
    0% {opacity: 0;}
}

@keyframes aniAsideShow {
    0% {transform: translateX(150%);}
    100% {transform: translateY(0);}
}

@keyframes aniAsideHide {
    0% {transform: translateY(0);}
    100% {transform: translateX(150%);}
}
















/* GALLERY PAGE STYLE */
#galleryBody *{ 
    box-sizing: border-box;
    text-decoration: none;
}
.galleryContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.galleryContainer section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.galleryNavigation{
    position: relative;
    display: flex;
    justify-content: space-around;
    color: white;
}
.galleryNavigation a{
    color: white;
}
.galleryNavigation a .cards{
    position: relative;
    bottom: -100px;
    opacity: 0;
    width: 300px;
    border-radius: 20px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.8s;
    cursor: pointer;
}
.galleryNavigation .cards img{
    transition: all 0.5s;
}
.galleryNavigation a .cards:hover img{
    transform: scale(1.02);
}
.galleryNavigation a .cards img{
    border-radius: 20px 20px 0 0;
    width: 100%;
}
.galleryNavigation a .cards p{
    text-align: justify;
    padding: 0 0.5rem;
} 

/* SLIDE SHOW CSS FOR GALLERY PAGE   */
.slideshow-container {
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .active {
    opacity: 1;
  }
  
  .controls {
    margin-top: 10px;
    text-align: center;
  }
  
  .prev-btn,
  .next-btn {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
  }
  
  .prev-btn:hover,
  .next-btn:hover {
    background-color: #aaa;
  }